# Rosacon instance configuration

# NOTE: Do not commit this file to a repo or otherwise make it public without
# removing sensitive information first.

<%= if Code.ensure_loaded?(Config) or not Code.ensure_loaded?(Mix.Config) do
  "import Config"
else
  "use Mix.Config"
end %>

config :rosacon, RosaconWeb.Endpoint,
  url: [scheme: "https"],
  http: [ip: {<%= String.replace(listen_ip, ".", ", ") %>}, port: <%= listen_port %>],
  secret_key_base: "<%= secret %>",
  signing_salt: "<%= signing_salt %>"

config :rosacon, :instance,
  network_name: "<%= network_name %>",
  default_admin_email: "<%= default_admin_email %>",
  default_mail_sender_email: "<%= default_sender_email %>"

config :rosacon, Rosacon.Repo,
  adapter: Ecto.Adapters.Postgres,
  username: "<%= dbuser %>",
  password: "<%= dbpass %>",
  database: "<%= dbname %>",
  hostname: "<%= dbhost %>",
  pool_size: 10
